
/* =========================== */
/* Global css variable declaration */
/* =========================== */
:root {
    --navbarToggle: none;
    --brandShowMobileViewDisplay: none;
    --navbarCloseButtonDisplay: none;
}


/* ============== */
/* Default Styles */
/* ============== */
.administratorNavbarDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.brandShowMobileView {
    display: var(--brandShowMobileViewDisplay);
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
    color: #3A3A38;
    cursor: pointer;
}

.navbarCloseButton {
    font-family: Montserrat;
    font-size: 1rem;
    color: gray;
    border-width: .1rem;
    cursor: pointer;
    display: var(--navbarCloseButtonDisplay);
}

.navbarItemsDiv {
    display: flex;
    align-items: start;
}

.brand {
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 900;
    margin: 0;
    color: #3A3A38;
    cursor: pointer;
}

.navbarItems {
    font-family:"Montserrat";
    font-size: 1.5rem;
    margin-top:0;
    margin-bottom:0;
    margin-right:0;
    margin-left: 2.5rem;
    cursor: pointer;
}




/* ============= */
/* Media Queries */
/* ============= */
/* 1100px */
@media screen and (max-width: 1100px) {

    /* ============ */
    /* Css variable */
    /* ============ */  
    :root {
        --brandShowMobileViewDisplay: block;
    }

    .administratorNavbarDiv {
       display: block;
    }

    .navbarItemsDiv {
       display: var(--navbarToggle);
    }

    .navbarItems {
        margin-left: 0;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }

    .searchBox {
        display: var(--navbarToggle);
        width: 50%;
    }

}


/* 700px */
@media screen and (max-width: 700px) {

    .searchBox {
        display: var(--navbarToggle);
        width: 100%;
    }

}





